# virtual environment
.venv/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# HF / ML caches
data/hf_cache/
data/qdrant/
data/bm25_index/

# logs
*.log
logs/

# env files (IMPORTANT)
.env
finora-backend/.env
hf_sync_env.py
